/* navbar */
#navbar{
    flex-direction:column;
}

#navbar{
    height:100%;
}

#navbar::before{
    height:108%;     
}

#navbar ul li a{
    font-size: 1rem;
    padding:6px 5px;
}

/* Home Section*/
#home{
    height:24rem;
}

#home::before{
    height:30rem;
    width:100%;
}

#home p{
    font-size:.8rem;
}

/* Service Section */
#services{
    flex-direction: column;
}

#services .box{
    margin:10px;
}

#services .box p{
    font-size: .8rem;
}
/* Clients Section*/
#clients-section {
    height: 250px;
    margin: 70px 0px 0px 0px;
}

#clients-section:before{
    height:10rem;
}

#clients{
    flex-wrap:wrap;
}

#clients img {
    height: 45px;
    margin: 10px;
}

#clients i{
    font-size:50px;
}
/* Contact Us Section*/

/* Utility Classes */
.primary{
    font-size: 1.5rem;
}

.secondary{
    font-size:1.2rem;
}

.btn{

}
