/* Navigation Section */
#navbar{
    flex-direction:column;
}

#navbar::before{
    height:100%;
}

#navbar ul li a{
    font-size:1rem;
    padding:10px 9px;
}
/* Home Section */
#home{
    height:40vh;
    padding:20px;
}

#home::before{
    height:30rem;
}

#home p{
    font-size:15px;
}
/* Service Section */
#services{
    flex-direction:column;
}

#services .box{
    margin:20px;
}

#services-container{
    margin: 150px 0px 0px 0px;
}

/* Clients Section */
#clients{
    flex-wrap:wrap;
    height:30%;
}
#clients img{
    height:63px;
}
#clients::before{
    height:20%;
}

/* Contact Us Section */

/* Footer */

/* Utility Classes */
.primary{
    font-size: 30px;
}

.secondary{
    font-size: 22px;
}

.btn {
    padding: 0px 10px;
    color: white;
    background: brown;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
